.buttonContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 10px;
}
button {
  font-size: 15px;
  font-weight: bold;
}
.like {
  padding: 6px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.likeActive {
  background-color: lightgreen;
  padding: 6px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.dislike {
  padding: 6px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.dislikeActive {
  background-color: red;
  padding: 6px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
